html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}
body{
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: 0 auto;
    width: 800px;
    background-color: white;
}

.main{
    padding-top: 100px;
    margin: 0 auto;
    width: 597px;
    text-align: center;
}

.lnb-logo{
    display: block;
    margin-bottom: 20px;
}

.error-box {
    text-align: center;
    margin-bottom: 24px;
    font-size: 16px;
    color: red;
}

.login-form{
    height: 100%;
}

.login-form>input{
    display: block;
}

.input-box{
    margin-bottom: 15px;
    width: 576px;
    height: 44px;
    padding-inline-start: 15px;
    font-size: 18px;
    border-color: #15151515;
}

#submit_btn{
    margin: 5px auto 0 auto;
    width: 100%;
    height: 60px;
    background-color: orange;
    border-color: white;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.login-checkbox{
    text-align: right;
    font-size: 14px;
    color: #666;
}

.info-user{
    text-align: left;
    margin-top: 5px;
}

a{
    text-decoration: none;
    color: #737881;
    margin: 5px 5px 0 0;
}

a:hover{
    color: #07f;
}

.sns-login{
    margin-top: 30px;
}

.sns-login>*{
    border: 1px solid #e5e8eb;
    width: 432px;
    height: 64px;
    margin: 8px auto;
    font-size: 16px;
    color: #737881;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sns-img {
    width: 96px;
}

.sns-title{
    flex-grow: 1;
}

.footer{
    margin: 100px 0 30px;
    font-size: 12px;
    color: #ccc;
}