 .ad-banner {
    overflow: hidden;
}

.banner-content {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 240px;
    overflow: hidden;
}

.banner {
    position: absolute;
    left: 0;
    width: inherit;
    height: inherit;
    opacity: 0;
}

.showing {
    opacity: 1;

    transition: all 0.8s ease-in-out;
}

.banner-count {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 5px;
}

.count {
    display: inline-block;
    border: 1px solid black;
    background: transparent;
    border-radius: 16px;
    padding: 3px;
    margin: 1px;
    cursor: pointer;

    transition: background 0.2s ease-in-out;
}

.js-clicked-count {
    background: black;
}