html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
}
.wrapper{
    width: 100%;
    height: 100%;
}

.header{
    text-align: center; 
}
.main{
    position: relative;
    left: 0;
    width: 976px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}