{% load static %}

<!-- 광고 배너 -->
<div class="ad-banner board-banner">
    <div class="banner-content">
        <div class="first banner showing">
            <img src={% static 'imgs/banner1.png' %} alt="배너" width="1024px" height="240px">
        </div>
        <div class="second banner">
            <img src={% static 'imgs/banner2.png' %} alt="배너" width="1024px" height="240px">
        </div>
        <div class="third banner">
            <img src={% static 'imgs/banner3.png' %} alt="배너" width="1024px" height="240px">
        </div>
        <div class="fourth banner">
            <img src={% static 'imgs/banner4.png' %} alt="배너" width="1024px" height="240px">
        </div>
        <div class="banner-count">
            <div class="first count js-clicked-count"></div>
            <div class="second count"></div>
            <div class="third count"></div>
            <div class="fourth count"></div>
        </div>
    </div>
</div>