<div class="preview-modal">
    <div class="modal">
        <div class="modal-exit" onclick="closeModal()">
            <img src="https://www.clipartmax.com/png/middle/108-1087676_close-remove-delete-exit-cross-cancel-trash-comments-close-button-icon-png.png"
                 alt="cancel" width="8px">
        </div>

        <div class="modal-top">
            <div class="modal-title" id="modal-title">
                <!-- 제목 -->
            </div>
            <div class="modal-date" id="modal-date">
                <!-- 날짜 -->
            </div>
        </div>
        <div class="modal-article">
            <div class="modal-article-info">
                <div class="modal-article-writer" id="modal-article-writer">
                    <!-- 유저 이미지, 닉네임 -->
                    <img src="https://www.clipartmax.com/png/middle/108-1087676_close-remove-delete-exit-cross-cancel-trash-comments-close-button-icon-png.png"
                         alt=""
                         width="18px">
                    <span></span>
                </div>
                <div class="modal-article-user" id="modal-article-user">
                    <!-- 조회수, 추천수, 댓글수 -->
                </div>
            </div>
            <img src="" id="modal-img" class="modal-img" alt="게시글 사진" style="max-width: 200px; height: auto"/>
            <div class="modal-content" id="modal-content">
                로드 중...
            </div>
        </div>

    </div>
</div>
<div class="overlay"></div>