{% extends "extends/base.html" %}
{% load static %}
{% block mypage %}
    <div id="index-box">
        <div style="border-bottom :2px solid #96ceb4;"><br><br></div>
        <br>
        <div id="myinfo-list" class="index-list">내 정보</div>
        <div id="mynotice-list" class="index-list">내가 쓴 글</div>
        <div id="bookmark-list" class="index-list">추천 게시글</div>
        <div id="address-list" class="index-list clicked">주소 설정</div>
        <div id="corporate-list" class="index-list">사업자 등록</div>
    </div>

    <div id="content 여백" style="width : 10%"></div>

    <div>
        <h3>주소 설정</h3>
        <p>자신의 주소를 설정하고 변경할 수 있습니다.</p>
        {% include 'address_form.html' %}
    </div>

{% endblock %}
