{% extends "extends/base.html" %}

{% block mypage %}
    <div id="index-box">
        <div style="border-bottom :2px solid #96ceb4;"><br><br></div>
        <br>
        <div id="myinfo-list" class="index-list">내 정보</div>
        <div id="mynotice-list" class="index-list clicked">내가 쓴 글</div>
        <div id="bookmark-list" class="index-list">추천 게시글</div>
        <div id="address-list" class="index-list">주소 설정</div>
        <div id="corporate-list" class="index-list">사업자 등록</div>
    </div>

    <div id="content 여백" style="width : 10%"></div>

    <div id="mypost-box" class="content">
        <h3>나의 게시물</h3>
        <p>자신이 작성한 게시물을 확인하고 관리할 수 있습니다</p>
        <div id="board">
            <div class="total-artical-info">
                <div class="top-info">
                    <div class="id">번호</div>
                    <div class="title">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
                    <div class="views">조회</div>
                    <div class="recommendation">추천</div>
                </div>
                <!-- 게시물 목록 -->
                <div class="writing-box">
                    <!-- 게시물 목록 영역 -->
                    {% if articles %}
                        {% for article in articles %}
                            <div class="article-info top-info">
                                <div class="id">{{ forloop.counter }}</div>
                                <div class="title">
                                    <a href="{% url 'article' name=article.url pk=article.id %}">{{ article.title }}</a>
                                </div>
                                <div class="writer">{{ article.writer }}</div>
                                <div class="date js-date">{{ article.date }}</div>
                                <div class="views">{{ article.views }}</div>
                                <div class="recommendation">{{ article.upvote }}</div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <!-- 페이지 번호 영역 -->
                <div class="paging-box">
                            <span class="current">
                                        <a href="?page=1">1</a>
                                    </span>
                </div>
                <!-- 검색 박스  -->
            <!--
                <div class="search-box">
                    <select class="search-type-box" name="search-type" id="">
                        <option value="">제목+내용</option>
                        <option value="">제목</option>
                        <option value="">제목</option>
                        <option value="">글쓴이</option>
                        <option value="">댓글</option>
                    </select>
                    <div class="board-search-keyword-box">
                        <form action="" method="get">
                            <input class="board-search-keyword" type="text" placeholder="검색어 입력">
                        </form>
                    </div>
                </div>
                -->
            </div>
        </div>
    </div>
{% endblock %}