<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html lang="en">&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <meta charset="UTF-8">&ndash;&gt;-->
<!--&lt;!&ndash;    <title>DetailView</title>&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->
<!--&lt;!&ndash;    <div>&ndash;&gt;-->
<!--&lt;!&ndash;        <h1>{{request.user.username}} 의 프로필 </h1>&ndash;&gt;-->
<!--&lt;!&ndash;        <img src="{{target_user.profile.image.url}}" width="30%" alt="">&ndash;&gt;-->
<!--&lt;!&ndash;        {% if target_user.profile %}&ndash;&gt;-->
<!--&lt;!&ndash;        <h2>닉네임: {{ target_user.profile.nickname }}</h2>&ndash;&gt;-->

<!--&lt;!&ndash;        {% else %}&ndash;&gt;-->
<!--&lt;!&ndash;        <h2>프로필을 만들어라</h2>&ndash;&gt;-->
<!--&lt;!&ndash;        <a href="{% url 'profileapp:create' %}">프로필 생성</a>&ndash;&gt;-->
<!--&lt;!&ndash;        {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>profile</title>-->
<!--    <link rel="stylesheet" href="../../static/css/profile.css">-->

<!--</head>-->
<!--<body>-->
<!--    <div>-->
<!--        <div id ="header">-->
<!--            <div id ='top' style="font-size:1.8rem">-->
<!--                <a href="http://127.0.0.1:8000/index">-->
<!--                    <img src="../../static/imgs/logo.png" alt="로고자리" style ="height : 50px">-->
<!--                </a>-->
<!--            </div>-->
<!--            <div id ="lnb">-->
<!--                <div class="lnb_contents">-->
<!--                    <div ><h2>방도리 간편 프로필 변경</h2></div>-->
<!--                    <div style ="width : 600px"></div>-->
<!--                    <div class="lnb_mypage"><a href=""><b>My Page →</b></a></div>-->

<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div id="container">-->
<!--            <div id="content">-->
<!--                <div class="header">-->
<!--                    <h3>프로필 수정</h3>-->
<!--                    <p style ="padding-top: color:#666">방도리 대표 프로필과 별명을 수정 하실 수 있습니다.</p>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <table class="tablestyle">-->
<!--                        <tr class="tabletr">-->
<!--                            <th class = "tableth">프로필 사진</th>-->
<!--&lt;!&ndash;                            <form action="{% url 'profileapp:view' %}" method="post" enctype="multipart/form-data">&ndash;&gt;-->
<!--&lt;!&ndash;                                {% csrf_token %}&ndash;&gt;-->
<!--                            <td style = "padding : 0 50px; border-bottom : 1px solid #e5e5e5;">-->
<!--                                <div>-->
<!--                                    <div>-->
<!--                                        <img id="profile_pt" src="{{target_user.profile.image.url}}" alt="프로필 사진">-->
<!--                                    </div>-->

<!--                                    <div class ="pt_button">-->
<!--                                        <input class = "pt_btn1" type="file" value="파일">-->
<!--                                        <input class = "pt_btn" type="button" value="기본사진">-->
<!--                                        <input class = "pt_btn" type="button" value="삭제">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </td>-->
<!--&lt;!&ndash;                             </form>&ndash;&gt;-->
<!--                        </tr>-->

<!--                        <tr class="tabletr">-->
<!--                            <th class = "tableth">별명 설정</th>-->
<!--                            <td>-->
<!--                                <div style="padding : 0 50px;">-->
<!--                                    <input id ="input_nic" type="text" value ="닉네임을 설정해 주세요">-->
<!--                                    <input id ="nic_submit" type="submit" value="확인">-->
<!--                                </div>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                    </table>-->
<!--                </div>-->

<!--                <div class="bottom">-->
<!--                    <input class="button" type="submit" value ="적용">-->
<!--                    <input class="button" type="submit" value ="취소">-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->